@media screen and (max-width: 1399px) {
  .ia-container {
    padding: 0px 50px;
  }

  #aboutText {
    padding-right: 50px;
  }

  #aboutText p {
    font-size: 1.5rem;
  }

  /* #about {
    margin-top: 100px;
  } */

  .ia-right {
    /* right: 185px; */
    right: 2.5%;
  }

  .ia-left {
    left: 2.5%;
  }

  #line {
    transform: translateY(25px);
  }

  .skills {
    height: 115px;
  }

  .skills {
    width: 32%;
  }

  .skills img {
    width: 45px;
  }

  .ia-left {
    left: 7.5%;
  }

  .ia-right {
    right: 7.5%;
  }

  #cssBlock::after,
  #dbBlock::after,
  #phpBlock::after  {
    left: -71.5px;
    width: 86px;
    height: 120px;
  }

  #htmlBlock::after,
#jsBlock::after,
#cSharpBlock::after {
    width: 86px;
    height: 120px;
    right: -71.5px;
  }

  .projectButtons {
    top: 25%;
  }

}

@media screen and (max-width: 999px) {
  .ia-transformY {
    transform: translateY(37.5%);
  }

  #about img {
    width: 200px;
  }

  #line {
    transform: translateY(28px);
  }


  #cssBlock::after,
  #dbBlock::after,
  #phpBlock::after  {
    left: -71.5px;
    width: 86px;
    height: 120px;
  }

  #htmlBlock::after,
  #jsBlock::after,
  #cSharpBlock::after {
    width: 86px;
    height: 120px;
    right: -71.5px;
  }
  .projectButtons {
    top: 5%;
  }
  .cover a {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {

  #wrapper header p {
    font-size: 1.05rem;
  }

  #blockAbout {
    flex-direction: column;
  }

  #about h3,
  #aboutText p {
    text-align: center;

  }

  #aboutText {
    padding: 0px;
  }

  #about img {
    width: 300px;
  }

  .ia-transformY {
    transform: translateY(23.5%);
  }

  #line {
    transform: translateY(33px);
  }


  #line {
    opacity: 0;
  }

  #skills {
    margin-top: 160px;
  }

  #htmlBlock::after,
  #jsBlock::after,
  #phpBlock::after,
  #cssBlock::after,
  #dbBlock::after,
  #cSharpBlock::after {
    display: none;
  }

  #htmlBlock,
  #jsBlock,
  #cSharpBlock{
    width: 82%;
  }


  #cssBlock,
  #dbBlock,
  #phpBlock {
    width: 82%;
  }

  #skillsCards {
    display: flex;
    justify-content: center;
  }

  #jsBlock {
    top: 430px;
  }

  #dbBlock {
    top: 610px;
  }

  #cSharpBlock {
    top: 790px;
  }

  #phpBlock {
    top: 970px;
  }


  /*Projects*/
  #projects {
    margin-top: -250px;
  }
  .project {
    display: flex!important;
    justify-content: center!important;
    position: relative;
    width: 550px;
  }
  .cover p:first-child {
    font-size: 2.5rem;
    margin-top: 15px!important;
  }

  #containerProjects {
    padding: 10px ;
  }
  #containerSkills {
    margin-top: 300px!important;
  }
  #socialIcons {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
  #cvBtn {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  footer p:first-child {
    margin-right: 0px!important;
  }

}

@media screen and (max-width: 631px) {
  .cover p:first-child {
    font-size: 2rem;
  }
  .cover a {
    width: 35%;
  }
  .projectButtons {
    top: 0%;
  }
}
@media screen and (max-width: 466px) {
  #wrapper header {
    display: none;
  }

  #containerAbout {
    padding: 20px 10px 0px;
  }
  #about {
    top: 60px;
  }
  #about img {
    width: 200px;
  }

  #cvBtn {
    width: 80%;
  }


  #skills {
    margin-top: 170px;
  }


  .ia-transformY {
    transform: translateY(0%);
  }

  #projects {
    margin-top: -300px;
  }

  #containerSkills {
    margin-top: 0px!important;
  }

  #containerContact {
    margin-top: 150px;
  }
  .slick-arrow {
    display: none!important;
  }
  .project {
    margin: 0px!important;
  }
  .cover a {
    width: 20%;
}
  #project img {
    width: 40em;
    object-fit: cover;
  }
  .ia-container#projects {
    padding: 0px 30px;
  }

  .projectButtons  {
    top: 10%;
  }
  .projectButtons svg {
    display: none;
  }
  .project a:first-child {
    margin-right: 1rem!important;
  }
  .cover p:first-child {
    font-size: 2rem;
  }
  #slick-slide02 a{
    margin: 0px!important;
  }
}

@media screen and (max-width: 326px) {
  .skills p {
    font-size: 1.1rem !important;
  }

  .cover {
    display: block;
    
  }
  .projectButtons {
    top: 15%
  }
  .cover a {
    font-size: 0.8rem;
    width: 15%;
  }

  footer svg{
    display: none;
  }
}